develop-eggs
/.vagrant
# Windows image file caches
*.dotCover
[Rr]elease/
var
# User-specific files
# Visual Studio profiler
*.pydevproject
#################
*.tli
#################

dist
bin
DocProject/Help/*.HxT
*.sdf
# Installer logs
#Mr Developer
*.obj
*~.nib

*.diff
*.tmp





*.tlb
DocProject/Help/*.hhc
*.vsp
_ReSharper*
*.launch
# Unit test / coverage reports
*.pdb
.project
[Bb]in



*.meta
[Ee]xpress


.mr.developer.cfg
.installed.cfg
.externalToolBuilders/
ipch/
# Mac crap
.metadata
#############
.coverage

~$*
*.sbr
*.user
*.sln.docstates
# Locally stored "Eclipse launch configurations"
.buildpath
# Build results
*.vspscc
.builds

.DS_Store
DocProject/Help/*.hhp

tmp/
*.egg
.idea
*.pgc

.env/
target/
Generated_Code #added for RIA/Silverlight projects



Backup*/

# Visual C++ cache files


*.suo
.settings/
# External tool builders
local.properties
.loadpath
parts
## Ignore Visual Studio temporary files, build results, and
ClientBin


_UpgradeReport_Files/
# PDT-specific
# Packages
#################
DocProject/Help/*.HxC
*.ilk



rebel.xml
sql
UpgradeLog*.XML
build
# Backup & report files from converting an old project file to a newer
#############
*.bak
############
#Translations
#################
DocProject/Help/html

[Dd]ebug/
############

*.py[co]
# Installshield output folder
# Others
*_p.c
pip-log.txt
Desktop.ini
*.pch
stylecop.*
*.iml
DocProject/Help/Html2

# Click-Once directory
publish
# Folder config file
*.swp
# ReSharper is a .NET coding add-in
## TODO: If you have NuGet Package Restore enabled, uncomment this
#packages/

## Python
# DocProject is a documentation generator add-in
## Windows
Thumbs.db
*.opensdf
DocProject/Help/*.hhk
.classpath
*_i.c
.tox


*.egg-info
# Visual Studio version. Backup files are not needed, because we have git ;-)
sdist
*.Cache
*.dbmdl
App.log
*.tlh
*.psess
DocProject/buildhelp/
TestResults
*.rsp
[Oo]bj
eggs
## files generated by popular Visual Studio add-ons.

.cproject

## Visual Studio
*.aps
.clover
## Eclipse
# CDT-specific
*.ncb
*.orig
*.pgd
*.tmp
*.mo
